<!-- slider section -->
<section class="slider_section">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="detail-box">
                                <h1>
                                    Tư vấn & đào tạo<br>
                                    công nghệ Việt Nam
                                </h1>
                                <p>
                                    Tên đầy đủ của chúng tôi là Công ty Cổ phần Tư vấn và Đào tạo Công nghệ Việt Nam (VNTC). Được thành lập vào năm 2017, chúng tôi tự hào là một trong những công ty hàng đầu trong lĩnh vực cung cấp các dịch vụ tư vấn kỹ thuật và đào tạo chất lượng cao, phục vụ một loạt các khách hàng từ các doanh nghiệp đến các cơ quan và trường học.
                                </p>
                                <div class="btn-box">
                                    <a class="btn1" asp-area="" asp-controller="Home" asp-action="About">
                                        Đọc thêm
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-box">
                                <img src="~/asset-home-layout/images/slider-img.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="detail-box">
                                <h1>
                                    Dịch vụ & sản phẩm<br>
                                </h1>
                                <p>
                                    VNTC không chỉ là nơi cung cấp các dịch vụ và tư vấn an toàn, uy tín tại Việt Nam, mà còn là một đối tác đáng tin cậy trong việc đảm bảo sự thành công và phát triển bền vững cho các doanh nghiệp, cơ quan và trường học. Chúng tôi cam kết mang đến cho khách hàng những giải pháp tối ưu nhất, đáp ứng mọi nhu cầu và mong muốn của họ.<br />
                                    Với một loạt các dịch vụ và sản phẩm đa dạng, chúng tôi tự hào là một địa chỉ đáng tin cậy cho các doanh nghiệp và tổ chức trong việc tối ưu hóa hoạt động kinh doanh và quản lý.
                                </p>
                                <div class="btn-box">
                                    <a class="btn1" asp-area="" asp-controller="Home" asp-action="Service">
                                        Đọc thêm
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-box">
                                <img src="~/asset-home-layout/images/slider-img.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="detail-box">
                                <h1>
                                    Tin tức & sự kiện<br>
                                </h1>
                                <p>
                                    Những tin tức và sự kiện đang HOT diễn ra ...
                                </p>
                                <div class="btn-box">
                                    <a class="btn1" asp-area="" asp-controller="Home" asp-action="News">
                                        Đọc thêm
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-box">
                                <img src="~/asset-home-layout/images/slider-img.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
    </div>

</section>
<!-- end slider section -->