@model SetUserPasswordModel
@using dotnetstartermvc.Menu
@inject AdminSidebarService _AdminSidebarService

@{
    ViewData["Title"] = "Đặt mật khẩu";
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>Thiết lập mật khẩu cho thành viên: @ViewBag.user.UserName</h4>
<partial name="_StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword">Mật khẩu mới <b style="color: red">*</b></label>
                <input asp-for="NewPassword" class="form-control" placeholder="Yêu cầu nhập mật khẩu mới" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Xác nhận mật khẩu <b style="color: red">*</b></label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Yêu cầu nhập xác nhận mật khẩu" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-wrench" aria-hidden="true"></i>
                Đặt mật khẩu
            </button>
        </form>

        <hr />
        <a class="btn btn-outline-dark" asp-action="Index"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Danh sách thành viên</a>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@{
    _AdminSidebarService.SetActive("User", "Index", "Identity");
}

@section Sidebar{
    @Html.Raw(_AdminSidebarService.renderHtml())
}