@{
    ViewData["Title"] = "Hạn chế truy cập";
}

<header>
    <div class="d-flex align-items-center justify-content-center" style="margin-top: 100px; margin-bottom: 50px;">
        <div class="text-center">
            <h1 class="display-1 fw-bold text-danger">404</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Truy cập bị từ chối.</p>
            <p class="lead">
                Bạn không được phép truy cập chức năng này.
            </p>
        </div>
    </div>
</header>
