@{
    ViewData["Title"] = "Có lỗi";
}

<header>
    <div class="d-flex align-items-center justify-content-center" style="margin-top: 100px; margin-bottom: 50px;">
        <div class="text-center">
            <h1 class="display-1 fw-bold text-danger">404</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Có lỗi.</p>
            <p class="lead">
                Lỗi không hoàn thành được tác vụ
            </p>
        </div>
    </div>
</header>