@{
    ViewData["Title"] = "Lỗi xác thực email";
}

<header>
    <div class="d-flex align-items-center justify-content-center" style="margin-top: 100px; margin-bottom: 50px;">
        <div class="text-center">
            <h1 class="display-1 fw-bold text-danger">404</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Lỗi xác thực email.</p>
            <p class="lead">
                Có lỗi khi xác thực địa chỉ email
            </p>
        </div>
    </div>
</header>