@{
    ViewData["Title"] = "Lỗi đăng nhập";
}

<style>
    .hero_area {
        min-height: 5vh;
    }
</style>

<section style="background-color: #eee;">
    <div class="container py-5">
        <h2 class="heading_container heading_center" style="margin-bottom: 40px;">@ViewData["Title"]</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <header>
                            <p class="text-danger">Không sử dụng được dịch vụ đăng nhập.</p>
                        </header>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>