@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Đăng ký tài khoản với liên kết";
}

<style>
    .hero_area {
        min-height: 5vh;
    }
</style>

<section style="background-color: #eee;">
    <div class="container py-5">
        <h2 class="heading_container heading_center" style="margin-bottom: 40px;">@ViewData["Title"]</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                            <h4>Thông tin liên kết</h4>
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <p class="text-info">
                                Bạn đã xác thực liên kết với <strong>@ViewData["ProviderDisplayName"]</strong>. <br />
                                Vui lòng ấn đăng ký để liên kết hoặc tạo tài khoản.
                            </p>
                            <div class="form-group" hidden>
                                <label asp-for="Email" class="control-label">Địa chỉ email <b style="color: red">*</b></label>
                                <input asp-for="Email" class="form-control" placeholder="Yêu cầu nhập địa chỉ email giống với địa chỉ email đã liên kết ..." />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="text-center m-3">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-wrench" aria-hidden="true"></i> Đăng ký</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
