.photodetail {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.photodetail img {
    border-radius: 10px;
    height: 230px;
}

.photodetail span {
    position: absolute;
    display: none;
}

.photodetail:hover span {
    display: block;
}
