@model List<dotnetstartermvc.Models.Service>
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- service section -->

<partial name="_AlertMessage" />

<section class="service_section layout_padding2">
    <div class="service_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Dịch vụ và sản phẩm chất lượng của <span>VNTC</span>
                </h2>
                <p>
                    An toàn - chất lượng - uy tín
                </p>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 ">
                        <div class="box ">
                            <div>
                                @if (item.ServicePhotos.Count > 0)
                                {
                                    foreach (var photo in item.ServicePhotos)
                                    {
                                        <img style="height: 200px; width: 100%; border-radius: 10px;" src="/contents/Services/@photo.FileName" />
                                    }
                                }
                                else
                                {
                                    <img style="height: 200px; width: 100%; border-radius: 10px;" src="~/asset-home-layout/images/s1.png" />
                                }
                            </div>
                            <div class="detail-box" style="height: 110px; margin-top: 20px;">
                                <a asp-action="ServiceDetails" asp-route-id="@item.Id">
                                    <h5 style="font-size: 1rem">
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </h5>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="btn-box">
                <a asp-area="" asp-controller="Home" asp-action="Service">
                    Xem thêm
                </a>
            </div>
        </div>
    </div>
</section>

<!-- end service section -->
<!-- team section -->
<section class="team_section layout_padding">
    <div class="container-fluid">
        <div class="heading_container heading_center">
            <h2 class="">
                Các thành viên trong <span>VNTC</span>
            </h2>
        </div>

        <div class="team_container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/asset-home-layout/images/team-1.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Joseph Brown
                            </h5>
                            <p>
                                Founder và CEO
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/asset-home-layout/images/team-2.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Joseph Brown
                            </h5>
                            <p>
                                Developer
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/asset-home-layout/images/team-3.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Joseph Brown
                            </h5>
                            <p>
                                Manager
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/asset-home-layout/images/team-4.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Joseph Brown
                            </h5>
                            <p>
                                Manager
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end team section -->