@model dotnetstartermvc.Models.Recruitment

@{
    ViewData["Title"] = "Chi tiết tuyển dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .hero_area {
        min-height: 5vh;
    }

    .layout-bg {
        padding: 30px;
        font-family: 'Roboto', sans-serif;
    }

    .cf-title-10 h3 {
        font-size: 34px;
        font-weight: 500;
        text-transform: uppercase;
    }

        .cf-title-10 h3:before {
            background-color: #c50000;
            border-radius: 0.25rem;
            content: '';
            display: block;
            height: 0.25rem;
            width: 42px;
            margin-bottom: 1.25rem;
        }
</style>

<div class="container">
    <div class="row layout-bg">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="cf-title-10">
                <h3>Chi tiết công việc</h3>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-xs-12" style="margin-top: 30px;">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <dl class="row">
                        <dt class="col-sm-3">
                            Tên công việc
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt class="col-sm-3">
                            Số lượng
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Quantity)
                        </dd>
                        <dt class="col-sm-3">
                            Mô tả thông tin công việc
                        </dt>
                        <dd class="col-sm-9">
                            @Html.Raw(Model.Description)
                        </dd>
                        <dt class="col-sm-3">
                            Người đảm nhiệm
                        </dt>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:10px;">
            <a asp-action="Recruitments" class="btn btn-outline-dark">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                Quay lại trang chủ
            </a>
        </div>
    </div>
</div>