@{
    ViewData["Title"] = "Trách nhiệm";
}

<style>
    .hero_area {
        min-height: 5vh;
    }
</style>

<!-- why section -->

<section class="why_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Tại sao nên lựa chọn <span>VNTC</span>
            </h2>
        </div>
        <div class="why_container">
            <div class="box">
                <div class="img-box">
                    <img src="~/asset-home-layout/images/w1.png" />
                </div>
                <div class="detail-box">
                    <h5>
                        Uy tín hàng đầu
                    </h5>
                    <p>
                        VNTC tự hào là đối tác đáng tin cậy hàng đầu của quý khách hàng. Chúng tôi cam kết mang lại sản phẩm và dịch vụ chất lượng nhất để xây dựng mối quan hệ lâu dài và bền vững.
                        Sự uy tín của chúng tôi được xây dựng dựa trên cơ sở của sự minh bạch, trung thực và tôn trọng đối với khách hàng.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/asset-home-layout/images/w2.png" />
                </div>
                <div class="detail-box">
                    <h5>
                        An toàn và bảo mật
                    </h5>
                    <p>
                        Bảo mật thông tin của khách hàng là ưu tiên hàng đầu tại VNTC. Chúng tôi áp dụng các biện pháp bảo mật tiên tiến để đảm bảo rằng mọi thông tin cá nhân và giao dịch của khách hàng đều được bảo vệ an toàn và không bị lộ ra bên ngoài.
                        Chúng tôi cam kết tuân thủ các quy định về bảo mật thông tin và luôn cải thiện hệ thống bảo mật của mình để đối phó với các mối đe dọa mới nhất từ mạng Internet.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/asset-home-layout/images/w3.png" />
                </div>
                <div class="detail-box">
                    <h5>
                        Giá trị vượt trội
                    </h5>
                    <p>
                        VNTC cam kết mang lại giá trị vượt trội cho khách hàng thông qua sản phẩm và dịch vụ chất lượng cao với giá cả hợp lý nhất. Chúng tôi luôn tìm cách tối ưu hóa chi phí để có thể cung cấp giá thành cạnh tranh mà vẫn đảm bảo chất lượng tốt nhất cho khách hàng.
                        Sự hài lòng của khách hàng là tiêu chí hàng đầu mà chúng tôi luôn hướng đến và không ngừng nỗ lực để cải thiện và hoàn thiện mọi dịch vụ của mình.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/asset-home-layout/images/w4.png" />
                </div>
                <div class="detail-box">
                    <h5>
                        Rất vui đồng hành cùng với khách hàng
                    </h5>
                    <p>
                        Tại VNTC, chúng tôi luôn vui vẻ và hân hoan đồng hành cùng quý khách hàng trong mọi hành trình.
                        Chúng tôi không chỉ là đối tác kinh doanh mà còn là người bạn đồng hành, luôn sẵn lòng lắng nghe và hỗ trợ khách hàng mỗi khi cần thiết.
                        Sứ mệnh của chúng tôi không chỉ là cung cấp sản phẩm và dịch vụ mà còn là tạo ra những trải nghiệm tuyệt vời nhất cho khách hàng. Hãy để chúng tôi chia sẻ và mang đến cho bạn những giá trị ý nghĩa và những trải nghiệm đáng nhớ trên mọi chặng đường phát triển.
                    </p>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a class="" asp-area="Contact" asp-controller="Contact" asp-action="SendContact"> Liên hệ với chúng tôi</a>
        </div>
    </div>
</section>

<!-- end why section -->
