@model VerifyPhoneNumberViewModel
@{
    ViewData["Title"] = "Xác nhận số điện thoại";
}

<style>
    .hero_area {
        min-height: 5vh;
    }
</style>

<section style="background-color: #eee;">
    <div class="container py-5">
        <h2 class="heading_container heading_center" style="margin-bottom: 40px;">@ViewData["Title"]</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-controller="Manage" asp-action="VerifyPhoneNumber" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                            <input asp-for="PhoneNumber" type="hidden" />
                            <h5>Thêm số điện thoại.</h5>
                            <h5>@ViewData["Status"]</h5>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Code" class="control-label">Mã xác nhận <b style="color: red">*</b></label>
                                <input asp-for="Code" class="form-control" placeholder="Yêu cầu nhập mã xác nhận" />
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                            <div class="text-center m-3">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-wrench" aria-hidden="true"></i> Gửi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
