@using dotnetstartermvc.Menu
@inject AdminSidebarService _AdminSidebarService

@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Admin Control Panel";
}

<p>
    Trang quản trị website dành cho nhân viên VNTC </br>
    <b>Copyright © Công ty cổ phần tư vấn và đào tạo công nghệ Việt Nam - VNTC</b>
</p>

@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}