@using dotnetstartermvc.Menu
@inject AdminSidebarService _AdminSidebarService

@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Admin Control Panel";
}

<p>
    Trang quản trị website dành cho nhân viên VNTC
</p>

@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}